extends layout

block content
	.container
		.starter-template
			.img-circle.avatar-login
				span.glyphicon.glyphicon-user
			h1 Login
			p.lead Você precisa realizar seu login para visualizar os posts.
			p
				a.btn.btn-primary(href="/auth", role="button") WordPress Account
